<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Alltest - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN category_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_category {$fielddispclass_category}">
				Category
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_category {$fielddispclass_category}">
			<input type="checkbox" {$category_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_category {$fielddispclass_category}">
			{$searchtype_category}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_category {$fielddispclass_category}">
			{$category_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_category {$fielddispclass_category}">
			{$category_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END category_fieldblock}
	{BEGIN location_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_location {$fielddispclass_location}">
				Location
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_location {$fielddispclass_location}">
			<input type="checkbox" {$location_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_location {$fielddispclass_location}">
			{$searchtype_location}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_location {$fielddispclass_location}">
			{$location_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_location {$fielddispclass_location}">
			{$location_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END location_fieldblock}
	{BEGIN organizer_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organizer {$fielddispclass_organizer}">
				Organizer
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_organizer {$fielddispclass_organizer}">
			<input type="checkbox" {$organizer_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_organizer {$fielddispclass_organizer}">
			{$searchtype_organizer}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_organizer {$fielddispclass_organizer}">
			{$organizer_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_organizer {$fielddispclass_organizer}">
			{$organizer_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END organizer_fieldblock}
	{BEGIN title_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_title {$fielddispclass_title}">
				Title
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_title {$fielddispclass_title}">
			<input type="checkbox" {$title_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_title {$fielddispclass_title}">
			{$searchtype_title}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_title {$fielddispclass_title}">
			{$title_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_title {$fielddispclass_title}">
			{$title_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END title_fieldblock}
	{BEGIN department_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_department {$fielddispclass_department}">
				Function
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_department {$fielddispclass_department}">
			<input type="checkbox" {$department_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_department {$fielddispclass_department}">
			{$searchtype_department}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_department {$fielddispclass_department}">
			{$department_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_department {$fielddispclass_department}">
			{$department_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END department_fieldblock}
	{BEGIN level_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_level {$fielddispclass_level}">
				Level
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_level {$fielddispclass_level}">
			<input type="checkbox" {$level_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_level {$fielddispclass_level}">
			{$searchtype_level}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_level {$fielddispclass_level}">
			{$level_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_level {$fielddispclass_level}">
			{$level_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END level_fieldblock}
	{BEGIN stime_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_stime {$fielddispclass_stime}">
				Stime
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_stime {$fielddispclass_stime}">
			<input type="checkbox" {$stime_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_stime {$fielddispclass_stime}">
			{$searchtype_stime}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_stime {$fielddispclass_stime}">
			{$stime_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_stime {$fielddispclass_stime}">
			{$stime_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END stime_fieldblock}
	{BEGIN etime_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_etime {$fielddispclass_etime}">
				Etime
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_etime {$fielddispclass_etime}">
			<input type="checkbox" {$etime_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_etime {$fielddispclass_etime}">
			{$searchtype_etime}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_etime {$fielddispclass_etime}">
			{$etime_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_etime {$fielddispclass_etime}">
			{$etime_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END etime_fieldblock}
	{BEGIN staffname_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_staffname {$fielddispclass_staffname}">
				Staffname
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_staffname {$fielddispclass_staffname}">
			<input type="checkbox" {$staffname_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_staffname {$fielddispclass_staffname}">
			{$searchtype_staffname}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_staffname {$fielddispclass_staffname}">
			{$staffname_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_staffname {$fielddispclass_staffname}">
			{$staffname_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END staffname_fieldblock}
	{BEGIN pos_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pos {$fielddispclass_pos}">
				Pos
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pos {$fielddispclass_pos}">
			<input type="checkbox" {$pos_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pos {$fielddispclass_pos}">
			{$searchtype_pos}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pos {$fielddispclass_pos}">
			{$pos_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pos {$fielddispclass_pos}">
			{$pos_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pos_fieldblock}
	{BEGIN dcode_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_dcode {$fielddispclass_dcode}">
				Dcode
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_dcode {$fielddispclass_dcode}">
			<input type="checkbox" {$dcode_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_dcode {$fielddispclass_dcode}">
			{$searchtype_dcode}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_dcode {$fielddispclass_dcode}">
			{$dcode_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_dcode {$fielddispclass_dcode}">
			{$dcode_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END dcode_fieldblock}
	{BEGIN subcode_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_subcode {$fielddispclass_subcode}">
				Subcode
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_subcode {$fielddispclass_subcode}">
			<input type="checkbox" {$subcode_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_subcode {$fielddispclass_subcode}">
			{$searchtype_subcode}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_subcode {$fielddispclass_subcode}">
			{$subcode_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_subcode {$fielddispclass_subcode}">
			{$subcode_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END subcode_fieldblock}
	{BEGIN subname_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_subname {$fielddispclass_subname}">
				Subname
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_subname {$fielddispclass_subname}">
			<input type="checkbox" {$subname_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_subname {$fielddispclass_subname}">
			{$searchtype_subname}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_subname {$fielddispclass_subname}">
			{$subname_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_subname {$fielddispclass_subname}">
			{$subname_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END subname_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
