<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_acronyim}
			<a href="#" id="addSearchControl_acronyim" class="addSearchControl" {$addSearchControl_acronyim_attrs}>Acronyim</a><br>
		{END addSearch_acronyim}
		{BEGIN addSearch_campus_name}
			<a href="#" id="addSearchControl_campus_name" class="addSearchControl" {$addSearchControl_campus_name_attrs}>Organisation Name</a><br>
		{END addSearch_campus_name}
		{BEGIN addSearch_address}
			<a href="#" id="addSearchControl_address" class="addSearchControl" {$addSearchControl_address_attrs}>Address</a><br>
		{END addSearch_address}
		{BEGIN addSearch_city}
			<a href="#" id="addSearchControl_city" class="addSearchControl" {$addSearchControl_city_attrs}>City</a><br>
		{END addSearch_city}
		{BEGIN addSearch_postcode}
			<a href="#" id="addSearchControl_postcode" class="addSearchControl" {$addSearchControl_postcode_attrs}>Postcode</a><br>
		{END addSearch_postcode}
		{BEGIN addSearch_state}
			<a href="#" id="addSearchControl_state" class="addSearchControl" {$addSearchControl_state_attrs}>State</a><br>
		{END addSearch_state}
		{BEGIN addSearch_faxNo}
			<a href="#" id="addSearchControl_faxNo" class="addSearchControl" {$addSearchControl_faxNo_attrs}>Fax No</a><br>
		{END addSearch_faxNo}
		{BEGIN addSearch_telephone}
			<a href="#" id="addSearchControl_telephone" class="addSearchControl" {$addSearchControl_telephone_attrs}>Telephone</a><br>
		{END addSearch_telephone}
		{BEGIN addSearch_email}
			<a href="#" id="addSearchControl_email" class="addSearchControl" {$addSearchControl_email_attrs}>Email</a><br>
		{END addSearch_email}
		{BEGIN addSearch_url}
			<a href="#" id="addSearchControl_url" class="addSearchControl" {$addSearchControl_url_attrs}>Url</a><br>
		{END addSearch_url}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
