<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Organisation Setting - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN acronyim_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_acronyim {$fielddispclass_acronyim}">
				Acronyim
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_acronyim {$fielddispclass_acronyim}">
			<input type="checkbox" {$acronyim_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_acronyim {$fielddispclass_acronyim}">
			{$searchtype_acronyim}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_acronyim {$fielddispclass_acronyim}">
			{$acronyim_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_acronyim {$fielddispclass_acronyim}">
			{$acronyim_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END acronyim_fieldblock}
	{BEGIN campus_name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_campus_name {$fielddispclass_campus_name}">
				Organisation Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_campus_name {$fielddispclass_campus_name}">
			<input type="checkbox" {$campus_name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_campus_name {$fielddispclass_campus_name}">
			{$searchtype_campus_name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_campus_name {$fielddispclass_campus_name}">
			{$campus_name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_campus_name {$fielddispclass_campus_name}">
			{$campus_name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END campus_name_fieldblock}
	{BEGIN address_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address {$fielddispclass_address}">
				Address
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_address {$fielddispclass_address}">
			<input type="checkbox" {$address_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_address {$fielddispclass_address}">
			{$searchtype_address}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_address {$fielddispclass_address}">
			{$address_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_address {$fielddispclass_address}">
			{$address_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END address_fieldblock}
	{BEGIN city_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_city {$fielddispclass_city}">
				City
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_city {$fielddispclass_city}">
			<input type="checkbox" {$city_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_city {$fielddispclass_city}">
			{$searchtype_city}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_city {$fielddispclass_city}">
			{$city_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_city {$fielddispclass_city}">
			{$city_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END city_fieldblock}
	{BEGIN postcode_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_postcode {$fielddispclass_postcode}">
				Postcode
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_postcode {$fielddispclass_postcode}">
			<input type="checkbox" {$postcode_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_postcode {$fielddispclass_postcode}">
			{$searchtype_postcode}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_postcode {$fielddispclass_postcode}">
			{$postcode_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_postcode {$fielddispclass_postcode}">
			{$postcode_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END postcode_fieldblock}
	{BEGIN state_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_state {$fielddispclass_state}">
				State
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_state {$fielddispclass_state}">
			<input type="checkbox" {$state_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_state {$fielddispclass_state}">
			{$searchtype_state}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_state {$fielddispclass_state}">
			{$state_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_state {$fielddispclass_state}">
			{$state_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END state_fieldblock}
	{BEGIN faxNo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_faxNo {$fielddispclass_faxNo}">
				Fax No
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_faxNo {$fielddispclass_faxNo}">
			<input type="checkbox" {$faxNo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_faxNo {$fielddispclass_faxNo}">
			{$searchtype_faxNo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_faxNo {$fielddispclass_faxNo}">
			{$faxNo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_faxNo {$fielddispclass_faxNo}">
			{$faxNo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END faxNo_fieldblock}
	{BEGIN telephone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_telephone {$fielddispclass_telephone}">
				Telephone
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_telephone {$fielddispclass_telephone}">
			<input type="checkbox" {$telephone_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_telephone {$fielddispclass_telephone}">
			{$searchtype_telephone}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_telephone {$fielddispclass_telephone}">
			{$telephone_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_telephone {$fielddispclass_telephone}">
			{$telephone_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END telephone_fieldblock}
	{BEGIN email_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_email {$fielddispclass_email}">
				Email
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			<input type="checkbox" {$email_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			{$searchtype_email}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}
	{BEGIN url_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_url {$fielddispclass_url}">
				Url
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_url {$fielddispclass_url}">
			<input type="checkbox" {$url_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_url {$fielddispclass_url}">
			{$searchtype_url}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_url {$fielddispclass_url}">
			{$url_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_url {$fielddispclass_url}">
			{$url_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END url_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
