<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="acronyim">
	{$acronyim_editcontrol}
	</control>
	<control field="campus_name">
	{$campus_name_editcontrol}
	</control>
	<control field="address">
	{$address_editcontrol}
	</control>
	<control field="city">
	{$city_editcontrol}
	</control>
	<control field="postcode">
	{$postcode_editcontrol}
	</control>
	<control field="state">
	{$state_editcontrol}
	</control>
	<control field="faxNo">
	{$faxNo_editcontrol}
	</control>
	<control field="telephone">
	{$telephone_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="url">
	{$url_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>