<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN fstatus_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_fstatus {$fielddispclass_fstatus}">
				{BEGIN fstatus_label}Status{END fstatus_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_fstatus {$fielddispclass_fstatus}">
				{$fstatus_editcontrol}
			</div>
		</td>
	</tr>
{END fstatus_tabfieldblock}
{BEGIN fdate_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_fdate {$fielddispclass_fdate}">
				{BEGIN fdate_label}Reply Date{END fdate_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_fdate {$fielddispclass_fdate}">
				{$fdate_editcontrol}
			</div>
		</td>
	</tr>
{END fdate_tabfieldblock}
{BEGIN reply_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_reply {$fielddispclass_reply}">
				{BEGIN reply_label}Reply{END reply_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_reply {$fielddispclass_reply}">
				{$reply_editcontrol}
			</div>
		</td>
	</tr>
{END reply_tabfieldblock}
</table>





{END container_1}

</div>