<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN start_time_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_start_time {$fielddispclass_start_time}">
				Start Time
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_start_time {$fielddispclass_start_time}">
			{$start_time_value}
			</div>
		</td>
	</tr>
{END start_time_tabfieldblock}
{BEGIN end_time_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_end_time {$fielddispclass_end_time}">
				End Time
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_end_time {$fielddispclass_end_time}">
			{$end_time_value}
			</div>
		</td>
	</tr>
{END end_time_tabfieldblock}
{BEGIN date_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_date {$fielddispclass_date}">
				Date
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_date {$fielddispclass_date}">
			{$date_value}
			</div>
		</td>
	</tr>
{END date_tabfieldblock}
{BEGIN endate_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_endate {$fielddispclass_endate}">
				Endate
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_endate {$fielddispclass_endate}">
			{$endate_value}
			</div>
		</td>
	</tr>
{END endate_tabfieldblock}
</table>





{END container_1}

</div>