<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="icno">
	{$icno_editcontrol}
	</control>
	<control 
	field="umail">
	{$umail_editcontrol}
	</control>
	<control 
	field="fullname">
	{$fullname_editcontrol}
	</control>
	<control 
	field="department">
	{$department_editcontrol}
	</control>
	<control 
	field="subdepartment">
	{$subdepartment_editcontrol}
	</control>
	<control 
	field="pos">
	{$pos_editcontrol}
	</control>
	<control 
	field="sstatus">
	{$sstatus_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
